<form class="bg-white ">
    <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="countries">
            Search Countries
        </label>
        <input
            class="shadow
                appearance-none
                border
                rounded
                w-full
                py-2
                px-3
                text-gray-700
                leading-tight
                focus:outline-none
                focus:shadow-outline"
                #inputSearch
            id="countries" 
            type="text" 
            placeholder="Search by country name" 
            aria-owns="autocomplete-destination" 
            aria-autocomplete="list">

            <div class="suggestions" >
                <ul id="autocomplete-destination " class="overflow-auto h-60"  *ngIf="filteredCountries$ | async as filteredCountries;">
                    <li [attr.tabindex]="i == 0 ? '0' : '-1'" class="p-1 border border-gray-400 hover:bg-[#1976d2] active:bg-[#1976d2] focus:outline-none focus:ring focus:ring-[#1976d2] hover:text-white focus:text-white " *ngFor="let country of filteredCountries; let i = index">
                        {{ country.name }}
                    </li>
                </ul>
                <div *ngIf="loading">Loading...</div>
            </div>
    </div>
    
</form>